@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@0;1&family=Fira+Sans:wght@300&family=Prosto+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
}

body{
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    height: 7vh;
    background: black
}

.menu-content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}


.logo{
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a{
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: inherit;
    position: relative;
}

.menu-content .list-itens a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: red;
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before{
    width: 100%;

}
.exposeds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

main{
    height: 93vh;
    justify-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1{
    text-decoration: double;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 40px;
    
}

.botao{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 30px;
    letter-spacing: 0.2rem;
    position: relative;
    transition: 1.5s;
      }
      
.botao:hover{
        color: red;
        border: none;
        
    }
        
    .botao:before{
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 0;
        height: 60px;
        background-color: white;
        z-index: -1;
        transition: 1s;
    
    }
    .botao:hover:before{
        width: 100%;
    
    }
    a{
        text-decoration: none;
        color: white;
    }
      
    a:hover{
        color: red;
    }

    p{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    }

    .members{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }